<div class="flex flex-col gap-2 w-full m-2">
  <div class="text-center font-bold"><h2>Average of each room's price</h2></div>
  <ng-container
    *skeleton="data.length === 0; repeat: 1; className: 'skeleton-mb-4'; height: '60px'; width: '600px'">
    <form [formGroup]="form" autocomplete="off" class="flex gap-6" *ngIf="(roomInfoList$ | async)">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Rooms</mat-label>
        <mat-select formControlName="rooms" multiple>
          <mat-option *ngFor="let roomInfo of (roomInfoList$ | async)"
                      [value]="roomInfo">{{ roomInfo.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container
    *skeleton="((isLoading$ | async)! && data!.length === 0); repeat: 1; className: 'skeleton-mb-4'; height: '200px'; width: '600px'">
    <ngx-charts-bar-vertical *ngIf="data!.length > 0"
                             [view]="view"
                             [legend]="true"
                             [animations]="true"
                             [scheme]="'cool'"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxis]="true"
                             [yAxis]="true"
                             [xAxisLabel]="'Rooms'"
                             [yAxisLabel]="'Prices'"
                             [noBarWhenZero]="false"
                             [results]="data">
    </ngx-charts-bar-vertical>
  </ng-container>
  <mat-divider/>
</div>
