//.load-container {
//  position: fixed;
//  height: 100%;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  top: 0;
//  left: 0;
//  background-color: rgba(0, 0, 0, 0.7);
//  z-index: 20000;
//}
//
//.mat-icon {
//  height: 37px;
//  width: 37px;
//  font-size: 40px;
//  color: red;
//}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000aa;
  pointer-events: none;
  z-index: 20000;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner {
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
  z-index: 2000;
  &::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
  }
}
