<div *ngIf="isUserLoading$ | async">
  <div class="load-container px-4 box-border">
    <div class="rounded-3xl p-8 flex flex-col items-center load-content">
      <div class="spinner"></div>
      <div class="flex gap-0.5" style="cursor: pointer;letter-spacing: 3px">
        <span class="price">PRICE</span>
        <span class="monitoring">MONITORING</span>
      </div>
    </div>
  </div>
</div>
