<div>
  <button class="w-full" color="primary" mat-stroked-button (click)="backToSetList()">
    <mat-icon>arrow_back</mat-icon>
    <span>Back to monitor lists</span>
  </button>
</div>
<div class="flex flex-col gap-2 my-2">
  <ng-template [ngIf]="!(firstPartCompletedSource | async)">
    <form [formGroup]="monitorForm" autocomplete="off" class="flex flex-col gap-6 px-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="Name.hasError('required')">* Please complete a title</mat-error>
      </mat-form-field>
      <div *ngIf="appService.createMonitorListSubject | async" formArrayName="monitoringDates"
           class="flex flex-col justify-center gap-6">
        <div *ngFor="let date of monitoringDates.controls; let i=index">
          <div [formGroupName]="i" class="flex flex-col gap-2">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Monitoring start date</mat-label>
              <input matInput [matDatepicker]="monitoringDatepicker" formControlName="monitoringDate">
              <mat-datepicker-toggle matIconSuffix [for]="monitoringDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #monitoringDatepicker>
              </mat-datepicker>
            </mat-form-field>
            <div class="flex justify-between items-center">
              <div>
                <button *ngIf="monitoringDates.length === i+1 && monitoringDates.length < 3" class="flex"
                        mat-stroked-button color="primary"
                        (click)="addMonitoringDate()">add date
                </button>
              </div>
              <div [ngClass]="monitoringDates.length === i+1? 'flex justify-end items-center': ''">
                <button *ngIf="i !== 0" mat-stroked-button color="warn" (click)="removeMonitoringDate(i)">remove date
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="continue()">Continue</button>
    </form>
  </ng-template>
  <ng-template [ngIf]="(firstPartCompletedSource | async)">
    <form [formGroup]="roomForm" autocomplete="off" class="flex flex-col gap-6 p-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-date-range-input [rangePicker]="checkPicker">
          <input matStartDate formControlName="checkin" placeholder="Checkin">
          <input matEndDate formControlName="checkout" placeholder="Checkout">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="checkPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #checkPicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Search accommodations</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" (input)="type($event)"
               formControlName="destination">
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="onselect($event)">
          <mat-option [value]="destination" *ngFor="let destination of (destinationSource | async)"
                      class="flex justify-start items-start">
            <mat-icon>hotel</mat-icon>
            <div class="flex flex-col justify-center items-start">
              <div style="font-size: 14px;font-weight: 550;">{{destination.label1}}</div>
              <div style="font-size: 11px;color: grey;">
                {{destination.label2}}</div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <section>
              <span *ngFor="let hotelInfo of (hotelInfoListSource | async);let i = index">
                <mat-checkbox class="example-margin"
                              [checked]="hotelInfo.allChecked"
                              [indeterminate]="someComplete(hotelInfo)"
                              (change)="setAll($event.checked, hotelInfo)">
                  {{hotelInfo.name}}
                </mat-checkbox>
                <ul class="flex flex-col items-start justify-start gap-2">
                  <li *ngFor="let room of hotelInfo.rooms">
                    <mat-checkbox [(ngModel)]="room.checked"
                                  (ngModelChange)="updateAllComplete(hotelInfo)">
                        {{room.name}}
                      </mat-checkbox>
                    </li>
                </ul>
                  <mat-divider *ngIf="(hotelInfoListSource | async)?.length !== i+1"></mat-divider>
              </span>
    </section>
    <div class="flex gap-2 px-2">
      <button *ngIf="appService.createMonitorListSubject | async" class="w-full" mat-raised-button color="primary" (click)="backToMonitorForm()">Back
      </button>
      <button *ngIf="appService.createMonitorListSubject | async" class="w-full" mat-raised-button color="primary"
              (click)="createMonitorList()">Create set
      </button>
      <button *ngIf="appService.addRoomsSubject | async" class="w-full" mat-raised-button color="primary"
              (click)="updateMonitorList()">Add rooms
      </button>
    </div>
  </ng-template>
</div>
