<div class="flex justify-center items-center gap-6 p-5 md:p-10 md:flex-row flex-col">
  <div class="subscription flex flex-col gap-1">
    <div class="flex flex-col gap-4">
      <div class="subscription-title text-center">FREE</div>
      <div class="flex flex-col gap-6 subscription-info">
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Up to 10 monitor lists</span></div>
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Up to 10 rooms/monitor list</span></div>
      </div>
      <div class="subscription-price">
        <span>0.00$</span>
      </div>
    </div>
    <div class="subscription-button">
      <span>Subscribe</span>
    </div>
  </div>
  <div class="subscription flex flex-col gap-1">
    <div class="flex flex-col gap-4">
      <div class="subscription-title text-center">BASIC</div>
      <div class="flex flex-col gap-6 subscription-info">
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Up to 20 monitor lists</span></div>
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Up to 20 rooms/monitor list</span></div>
      </div>
      <div class="subscription-price">
        <span>09.99 $ per month</span>
      </div>
    </div>
    <div class="subscription-button" (click)="subscribe('basic')">
      <span>Subscribe</span>
    </div>
  </div>
  <div class="subscription flex flex-col gap-1">
    <div class="flex flex-col gap-4">
      <div class="subscription-title text-center">PREMIUM</div>
      <div class="flex flex-col gap-6 subscription-info">
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Up to 50 monitor lists</span></div>
        <div class="flex justify-start items-center gap-3">
          <mat-icon>done</mat-icon>
          <span>Unlimited rooms/monitor list</span></div>
      </div>
      <div class="subscription-price">
        <span>19.99 $ per month</span>
      </div>
    </div>
    <div class="subscription-button" (click)="subscribe('premium')">
      <span>Subscribe</span>
    </div>
  </div>
</div>
