.subscription {
  border: 2px solid #003D8D;
  border-radius: 20px;
  font-size: 20px;
}

.subscription-info {
  padding: 6px;
}

.subscription-title {
  background-color: #003D8D;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 0;
  color: #FFFFFF;
}

.subscription-price {
  text-align: center;
  padding-top: 5px;
  font-weight: 600;
}

.subscription-button {
  border-top: 1px solid #003D8D;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: darkgreen;
  padding: 10px 0;
}
