<div>
  <button class="w-full" color="primary" mat-stroked-button (click)="addNewCompetitiveSet()">
    <mat-icon>add</mat-icon>
    New set
  </button>
</div>
<mat-accordion>
  <ng-container *skeleton="(isLoading$ | async)! && (monitorLists$ | async)?.length === 0; repeat: 5; className: 'skeleton-mb-4'; height: '40px'">
    <mat-expansion-panel *ngFor="let monitorList of (monitorLists$ | async)" [togglePosition]="'before'">
      <mat-expansion-panel-header class="w-full panel-header">
        <mat-panel-title class="flex justify-between items-center w-full">
          <a *ngIf="((appService.monitorListIdToUpdate | async) !== monitorList.monitorListID)"
             [routerLinkActive]="'active'"
             [routerLink]="['/monitor/',monitorList.monitorListID]">{{monitorList.monitorListName}}</a>
          <span
            *ngIf="(appService.updateTitleSubject | async) && ((appService.monitorListIdToUpdate | async) === monitorList.monitorListID)">
        <input autocomplete="off" class="list-input" type="text" id="titleField" name="titleField" #titleField
               (blur)="updateMonitorListTitle(titleField.value)">
        </span>
          <button class="hidden-monitor-button" mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                  (click)="toggleMenu($event)">
            <mat-icon color="primary" style="height:30px">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeListTitle(monitorList.monitorListID)">
              <mat-icon>edit</mat-icon>
              <span>Change title</span>
            </button>
            <button mat-menu-item (click)="addRooms(monitorList.monitorListID)">
              <mat-icon>library_add</mat-icon>
              <span>Add rooms</span>
            </button>
            <button mat-menu-item (click)="deleteMonitorList(monitorList.monitorListID, monitorList.monitorListName)">
              <mat-icon>delete</mat-icon>
              <span>Delete list</span>
            </button>
          </mat-menu>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="monitorList.hotels && monitorList.hotels!.size > 0">
        <div *ngFor="let entry of monitorList.hotels | keyvalue; let i = index">
          <span class="hotel" (click)="displayBooking(entry.key)">{{entry.key}}</span>
          <div *ngFor="let room of entry.value" class="flex flex-col gap-1">
            <div class="flex justify-between items-center room-content">
              <div class="flex gap-2 room"><span><mat-icon>hotel</mat-icon></span><span>{{room.name}}</span></div>
              <button class="hidden-room-button" mat-icon-button color="primary" [matMenuTriggerFor]="matRoomMenu"
                      (click)="toggleMenu($event)">
                <mat-icon color="primary" style="height:30px">more_horiz</mat-icon>
              </button>
              <mat-menu #matRoomMenu="matMenu">
                <button mat-menu-item (click)="deleteRoom(room.roomID, room.name, monitorList.monitorListID)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <mat-divider *ngIf="monitorList.hotels.size != i+1" class="w-full"/>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
