.active {
  color: #006CB5;
}

.mat-icon {
  height: 18px;
}

.mat-divider {
  padding-bottom: 10px;
}

.room {
  font-size: 13px;
}

.room-content:hover {
  cursor: pointer;
}

.hidden-monitor-button, .hidden-room-button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.panel-header:hover .hidden-monitor-button {
  opacity: 1;
}

.room-content:hover .hidden-room-button {
  opacity: 1;
}

.list-input {
  color: #000000;
}

