<div class="flex flex-col md:flex-row justify-center items-center w-full gap-8 p-5 md:p-10">
  <div class="md:w-1/2 w-full">
    <pm-welcome-sign-up></pm-welcome-sign-up>
  </div>
  <div class="md:w-1/2 w-full">
    <mat-card>
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          Sign up
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <div class="field-error">{{error}}</div>
            <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-6">
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" formControlName="email" required pmEmailValidator>
                  <mat-error *ngIf="Email.hasError('required')">* Email must not be empty</mat-error>
                </mat-form-field>
                <div class="field-error" *ngIf="Email.hasError('emailValidation')">
                  * Please enter a valid email
                </div>
              </div>
              <button class="w-full" mat-raised-button color="primary" (click)="sendEmailVerification()">Send email
              </button>
            </form>
          </div>
          <mat-divider/>
          <div class="flex justify-center items-center text">Already a user?&nbsp;
            <a style="text-decoration: underline" [routerLink]="'../login'">LOGIN</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
