<div class="flex flex-col md:flex-row justify-center items-center w-full gap-8 p-5 md:p-10">
  <div class="md:w-1/2 w-full">
    <pm-welcome-login></pm-welcome-login>
  </div>
  <div class="md:w-1/2 w-full">
    <mat-card>
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="field-error">{{error}}</div>
          <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-6">
            <div class="flex flex-col gap-1">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" required>
                <mat-error *ngIf="Email?.hasError('required')">Email must not be empty</mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col gap-1">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="Password?.hasError('required')">Password must not be empty</mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col gap-2">
              <button class="w-full" mat-raised-button color="primary" (click)="login()">Login</button>
              <a class="flex justify-end items-center" style="font-size: 13px;color: grey;"
                 [routerLink]="'../forgot-password'">Forgot Password?</a>
            </div>
          </form>
          <mat-divider/>
          <div class="flex justify-center items-center text">Need an account?&nbsp;<a style="text-decoration: underline"
                                                                                      [routerLink]="'../sign-up'">SIGN
            UP</a></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
