<div class="flex justify-center items-center w-full gap-8 p-5 md:p-10">
  <div class="sm:w-2/3 lg:w-1/2 xl:w-1/3 w-full">
    <mat-card>
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          Password reset
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-6">
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Token</mat-label>
                  <input matInput type="text" formControlName="jwt" required placeholder="Copy & paste your token">
                  <mat-error *ngIf="Token.hasError('required')">* Token must not be empty</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required
                         pmPasswordValidator>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="Password.hasError('required')">* Password must not be empty</mat-error>
                </mat-form-field>
                <div class="field-error" *ngIf="Password.hasError('passwordValidation')">
                  * Password must contain at least one uppercase letter, one lowercase letter, one digit and at least
                  8 characters
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Confirm password</mat-label>
                  <input matInput formControlName="repeatedPassword" [type]="hide ? 'password' : 'text'" required
                         [pmPasswordValidator]="'password'">
                  <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="RepeatedPassword.hasError('required')">* Repeated password must not be empty
                  </mat-error>
                </mat-form-field>
                <div class="field-error" *ngIf="RepeatedPassword.hasError('passwordMismatch')">
                  * Confirm password must match password.
                </div>
              </div>
              <button class="w-full" mat-raised-button color="primary" (click)="resetPassword()">Reset password</button>
            </form>
          </div>
          <mat-divider/>
          <div class="flex justify-center items-center text">Already a user?&nbsp;
            <a style="text-decoration: underline" [routerLink]="'../login'">LOGIN</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

