<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body style="font-family: Helvetica, sans-serif;font-size: 14px; background-color: #f2f2f2;">
<div style="text-align: center;padding: 2px;">
    <br>
    <p>Congratulations! We're excited to have you in our family! ProfitLift is dedicated to opening
        access to revenue management for any size hotels.
    </p>
    <p>Once you have activated your account, you will have full access to all the features and benefits of
        Price Monitoring App. Whether you're here to connect, create, learn, or achieve, Price Monitoring App
        is here to help you every step of the way.
    </p>
    <div>To activate your account, click on the following activation link:</div>
    <a style="text-decoration: underline;color:black;" th:href="${link}"
       th:text="${'Click here'}"></a>
    <div>The link is in active for the next 24 hours.</div>
    <br>
    <div style="font-weight: bold;">
        <p>Best regards,</p>
        <p>The Price Monitoring Team</p>
    </div>
</div>
</body>
</html>