<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body style="font-family: Helvetica, sans-serif;font-size: 14px; background-color: #f2f2f2;">
<div style="text-align: center;padding: 2px;">
    <br>
    <p>We have received a request to reset your password for your [Your Company Name] account. To complete the password
        reset process, please follow the link provided below:
        <a style="text-decoration: underline;color:black;" th:href="${link}"
           th:text="${'Click here'}"></a>
    </p>
    <p>Please note that this link is valid for a limited time. If you did not request a password reset,
        please disregard this email. Your account security is important to us, and this link will expire
        after a certain period to ensure your protection.
    </p>
    <p>
        If you have any questions or need assistance, please contact our support team at [Your Support Email Address]
        or call us at [Your Support Phone Number].
    </p>
    <p>
        Thank you for choosing [Your Company Name]. We appreciate your trust in our services.
    </p>
    <br>
    <div style="font-weight: bold;">
        <p>Best regards,</p>
        <p>The Price Monitoring Team</p>
    </div>
</div>
</body>
</html>