<div class="flex flex-col md:flex-row justify-center items-center w-full gap-8 p-5 md:p-10">
  <div class="md:w-1/2 w-full">
    <pm-welcome-sign-up></pm-welcome-sign-up>
  </div>
  <div class="md:w-1/2 w-full">
    <mat-card>
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          Sign up
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <div class="field-error">{{error}}</div>
            <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-6">
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Token</mat-label>
                  <input matInput type="text" formControlName="jwt" required placeholder="Copy & paste your token">
                  <mat-error *ngIf="Token.hasError('required')">* Token must not be empty</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Fullname</mat-label>
                  <input matInput type="text" formControlName="name" required>
                  <mat-error *ngIf="Fullname?.hasError('required')">* Fullname must not be empty</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required
                         pmPasswordValidator>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="Password.hasError('required')">* Password must not be empty</mat-error>
                </mat-form-field>
                <div class="field-error" *ngIf="Password.hasError('passwordValidation')">
                  * Password must contain at least one uppercase letter, one lowercase letter, one digit and at least
                  8 characters
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Confirm password</mat-label>
                  <input matInput formControlName="repeatedPassword" [type]="hide ? 'password' : 'text'" required [pmPasswordValidator]="'password'">
                  <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="RepeatedPassword.hasError('required')">* Repeated password must not be empty
                  </mat-error>
                </mat-form-field>
                <div class="field-error" *ngIf="RepeatedPassword.hasError('passwordMismatch')">
                  * Confirm password must match password.
                </div>
              </div>
              <button class="w-full" mat-raised-button color="primary" (click)="signUp()">Sign up</button>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
