@use 'sass:map';
@use '@angular/material' as mat;

$pm-blue: (
  50 : #E0EDF6,
  100 : #B3D3E9,
  200 : #80B6DA,
  300 : #4D98CB,
  400 : #2682C0,
  500 : #003D8D,
  600 : #0064AE,
  700 : #0059A5,
  800 : #004F9D,
  900 : #006CB5,
  A100 : #B9D2FF,
  A200 : #86B1FF,
  A400 : #5390FF,
  A700 : #3A7FFF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #FFFFFF,
  )
);

$pm-primary-palette: mat.define-palette($pm-blue);
$pm-primary-dark-palette: mat.define-palette($pm-blue, 200, 50, 400);
$pm-accent-palette: mat.define-palette(mat.$blue-grey-palette);
$pm-accent-dark-palette: mat.define-palette(mat.$blue-grey-palette);
$pm-warn-palette: mat.define-palette(mat.$red-palette);

