@use '@angular/material' as mat;
@use './pm-palletes' as pm-palettes;
@use './components/header' as header;
@use './components/general' as general;
@use './components/set-list' as set-list;
@use './components/statistics' as statistics;
@use './components/scrollbar' as scrollbar;

@include mat.core();

$light-theme: mat.define-light-theme((
  color:(
    primary: pm-palettes.$pm-primary-palette,
    accent: pm-palettes.$pm-accent-palette,
    warn: pm-palettes.$pm-warn-palette
  ),
  typography: mat.define-typography-config(),
  density: -1
));

$dark-theme: mat.define-dark-theme((
  color:(
    primary: pm-palettes.$pm-primary-dark-palette,
    accent: pm-palettes.$pm-accent-dark-palette,
    warn: pm-palettes.$pm-warn-palette
  ),
  typography: mat.define-typography-config(),
  density: -1
));

@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);
@include header.color($light-theme);
@include general.color($light-theme);
@include set-list.color($light-theme);
@include statistics.color($light-theme);
@include scrollbar.color($light-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
  @include header.color($dark-theme);
  @include general.color($dark-theme);
  @include set-list.color($dark-theme);
  @include statistics.color($dark-theme);
  @include scrollbar.color($dark-theme);
}

