<mat-sidenav-container class="h-full">
  <mat-sidenav #sidenav mode="side" style="width: 300px">
    <div class="inner-content" *ngIf="(createNewSet$ | async) || (addRooms$ | async)">
      <pm-create-set></pm-create-set>
    </div>
    <div class="inner-content" *ngIf="!(createNewSet$ | async) && !(addRooms$ | async)">
      <pm-set-list></pm-set-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="inner-outlet-booking" *ngIf="!(monitorListId$ | async) || (createMonitorList$ | async)">
      <pm-booking class="h-full"></pm-booking>
    </div>
    <div class="h-full" *ngIf="((monitorListId$ | async) || (addRooms$ | async)) && !(createMonitorList$ | async)">
      <nav mat-tab-nav-bar [ngClass]="(isDesktop$ | async)?'':'mobile-mat-tab'" role="tablist" [tabPanel]="tabPanel">
        <a mat-tab-link (click)="activeLink = 'booking'" [active]="activeLink == 'booking'"
           routerLink="booking">Booking.com</a>
        <a mat-tab-link (click)="activeLink = 'statistics'" [active]="activeLink == 'statistics'"
           routerLink="statistics">Statistics</a>
        <a mat-tab-link (click)="activeLink = 'details'" [active]="activeLink == 'details'"
           routerLink="details">Details</a>
        <a mat-tab-link (click)="activeLink = 'notifications'" [active]="activeLink == 'notifications'"
           routerLink="notifications">Notifications</a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <div class="inner-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
