.inner-content {
  max-height: calc(100vh - 90px);
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.inner-outlet {
  max-height: calc(100vh - 134px);
  height: calc(100vh - 134px);
  overflow-y: auto;
}

.inner-outlet-booking {
  max-height: calc(100vh - 50px);
  height: calc(100vh - 50px);
  overflow-y: auto;
}
