<div class="flex justify-center items-center w-full gap-8 p-5 md:p-10">
  <div class="sm:w-2/3 lg:w-1/2 xl:w-1/3 w-full">
    <mat-card>
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          Forgot password
        </mat-card-title>
        <mat-card-subtitle>Enter the email address associated with your account and we'll send you a link to reset your
          password
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-6">
            <div class="flex flex-col gap-1">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" required pmEmailValidator>
                <mat-error *ngIf="!typedEmail && Email?.hasError('required')">* Email must not be empty</mat-error>
              </mat-form-field>
              <div class="field-error" *ngIf="Email?.hasError('emailValidation')">
                * Please enter a valid email
              </div>
            </div>
            <button class="w-full" mat-raised-button color="primary" (click)="sendEmail()">Send email</button>
          </form>
          <mat-divider/>
          <div class="flex flex-col gap-0.5">
            <div class="flex justify-center items-center">Need an account?&nbsp;<a style="text-decoration: underline"
                                                                                   [routerLink]="'../sign-up'">SIGN
              UP</a></div>
            <div class="flex justify-center items-center">Already a user?&nbsp;<a style="text-decoration: underline"
                                                                                  [routerLink]="'../login'">LOGIN</a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
