@use "sass:map";
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");
  $is-dark-theme: map.get($color-config, "is-dark");

  .app-bg {
    @if $is-dark-theme == true {
      background-color: #424242;
    }
  }

  .price {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
  }

  .monitoring {
    color: red;
    font-size: 17px;
    font-weight: 500;
  }

  .load-content {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @if $is-dark-theme == true {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .text {
    @if $is-dark-theme == true {
      color: #FFFFFF;
    }
  }

  a {
    text-decoration: none;
    @if $is-dark-theme == true {
      color: #80b6da;
    }
  }

  .loader-price {
    color: #003D8D;
    font-size: 17px;
    font-weight: 500;
    @if $is-dark-theme == true {
      color: #FFFFFF;
    }
  }

  .mat-mdc-card-title {
    @if $is-dark-theme == true {
      color: #FFFFFF;
    }
  }

  .subscription-info, .subscription-price {
    color: #003D8D;
    @if $is-dark-theme == true {
      color: #FFFFFF;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  .error-wrapper {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}

