@use "sass:map";
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");
  $is-dark-theme: map.get($color-config, "is-dark");

  .header-toolbar {
    z-index: 4;
    height: 50px;
    max-height: 50px;
    background: mat.get-color-from-palette($primary-palette, 500);
  }

  .mat-toolbar-multiple-rows {
    min-height: 50px;
  }

  .header-icon {
    @if $is-dark-theme == true {
      color: #FFFFFF;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  .error-wrapper {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}

