@use "sass:map";
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");
  $is-dark-theme: map.get($color-config, "is-dark");

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }

  ::-webkit-scrollbar-thumb {
    background: #003D8D;
    border-radius: 10px;
    @if $is-dark-theme == true {
      background: #80b6da;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  .error-wrapper {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
