<div class="flex flex-col justify-center items-center gap-6 p-4">
  <div class="w-full text">{{data.message}}</div>
  <div class="flex justify-end items-center w-full gap-4">
    <button mat-raised-button color="primary" (click)="reject()">{{data.rejectButton? data.rejectButton: 'Cancel'}}</button>
    <button mat-raised-button color="warn" (click)="approve()">{{data.approveButton? data.approveButton: 'OK'}}</button>
  </div>
</div>
