<div class="text">
  <div class="app-introduction" [ngStyle]="{'text-align':(isDesktop$ | async) ? '' : 'center' }">PriceMonitoring – Your Ultimate Hotel Revenue Enhancement Tool</div>
  <mat-divider/>
  <div *ngIf="isDesktop$ | async" class="app-description">Are you ready to explore innovative approaches to maximize your hotel's earnings?
    Join us on this journey as we unlock the true potential of your hotel's revenue
    management. Say goodbye to guesswork and hello to data-driven pricing strategies
    that level up your revenue game. Let's get started!
  </div>
</div>
