@use 'styling/pm-theme' as pm-theme;
@use 'styling/components/skeleton' as skeleton;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab.mdc-tab {
  height: 40px !important;
}

.mat-mdc-tab-body-wrapper:not(.booking) {
  padding: 5px;
  height: calc(100vh - 90px);
  min-height: calc(100vh - 90px);
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #FFFFFF!important;
}

.mat-expansion-panel-header-title {
  flex-basis: auto !important;
}

.mat-expansion-panel-header {
  padding: 0 12px!important;
}

.mat-expansion-panel-header-title {
  margin-right: 0;
}

a {
  cursor: pointer;
}

a:hover {
  font-weight: 600;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.field-error {
  color: red;
  font-size: 13px;
  padding-left: 2px;
}

.main {
  color: #003D8D;
}

.destination-label1 {
  font-size: 14px;
}

.destination-label2 {
  color: grey;
  font-size: 12px;
}

// Start - Welcome components css
.app-introduction {
  font-weight: 500;
  @media all and (max-width: 767px) {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 15px;
  }
  @media all and (min-width: 768px) {
    font-size: 38px;
    line-height: 46px;
    padding-bottom: 26px;
  }
  @media all and (min-width: 960px) {
    font-size: 44px;
    line-height: 48px;
    padding-bottom: 20px;
  }
}

.app-description {
  @media all and (max-width: 959px) {
    font-size: 15px;
    line-height: 20px;
    padding-top: 8px;
  }
  @media all and (min-width: 960px) {
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
  }
}

// End - Welcome components css

.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: red;
  --mdc-snackbar-supporting-text-color: #ffffff;

  .mdc-button .mdc-button__label {
    color: #FFFFFF;
  }
}

.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: green;
  --mdc-snackbar-supporting-text-color: #ffffff;

  .mdc-button .mdc-button__label {
    color: #FFFFFF;
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  width: 100%;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.mobile-mat-tab {
  .mat-mdc-tab-label-container {
    overflow-y: hidden;
    overflow-x: auto !important;
    width: 100%;
  }

  .mat-mdc-tab-label-container::-webkit-scrollbar {
    display: none !important;
  }

  .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
    display: none !important;
  }
}

.mat-drawer.mat-drawer-side, .mat-drawer-inner-container {
  overflow-y: hidden !important;
}

