<pm-loader></pm-loader>
<div class="flex flex-col h-full">
  <mat-toolbar color="primary" class="justify-center items-center header-toolbar mat-elevation-z12">
    <mat-toolbar-row class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <button mat-icon-button *ngIf="(isLoggedIn$ | async) && (isMainUrl | async)" (click)="toggleSideNav()">
          <mat-icon class="header-icon">menu</mat-icon>
        </button>
        <div class="flex gap-0.5" style="cursor: pointer" (click)="navigateToLists()">
          <mat-icon style="color: red">trending_up</mat-icon>
          <span style="color: white">PRICE</span><span style="color: red">MONITORING</span>
        </div>
      </div>
      <div *ngIf="(isLoggedIn$ | async)">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Profile icon">
          <mat-icon class="header-icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="toggleDarkTheme()" matTooltip="Change theme">
            <mat-icon>{{ (isDark$ |async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
            <span>Change theme</span>
          </button>
          <button mat-menu-item (click)="subscribe()">
            <mat-icon>subscriptions</mat-icon>
            <span>Subscriptions</span>
          </button>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="list-toolbar" *ngIf="activeMonitorList | async">
    <h4 class="px-7 py-2">{{(activeMonitorList | async)?.monitorListName | titlecase}}</h4>
  </div>
  <div class="app-bg h-full">
    <router-outlet/>
  </div>
</div>
