.header-toolbar {
  z-index: 4;
  height: 50px;
  max-height: 50px;
}

.mat-toolbar-multiple-rows {
  min-height: 50px;
}

.list-toolbar {
  height: 40px;
  background-color: #003d8d;
  color: #FFFFFF;
}

//.content {
//  height: calc(100vh - 50px);
//  overflow-y: auto;
//}
//
//.sm-content {
//  .content {
//    height: calc(100vh - 80px);
//    max-height: calc(100vh - 80px);
//    overflow-y: auto;
//  }
//}
