<div class="text">
  <div class="app-introduction" [ngStyle]="{'text-align':(isDesktop$ | async) ? '' : 'center' }">Welcome to PriceMonitoring - Where Revenue Meets Precision!</div>
  <mat-divider/>
  <div *ngIf="isDesktop$ | async" class="app-description">As you log in to PriceMonitoring, you're taking a vital step toward elevating
    your revenue management to new heights. Your journey with us is about making informed, strategic decisions
    that can profoundly impact your hotel's profitability. Go ahead, log in, and continue the path to revenue excellence.
    Your hotel's revenue success story continues here!
  </div>
</div>
